/*
	Author André Drougge, 2013
	- Board styles
*/

.board {
	font-family: courier, monospace;
}

.board td {
	border: 1px solid #dfdfdf;
	vertical-align: middle;
	text-align: center;
	height: 40px;
	width: 40px;
}

.board td:hover {
	background-color: #eaeaea;
}

.board td.safe {
	color: #aaa;
}

.board td.unsafe {
	font-weight: bold;
	color: #AB1400;
	background-color: #FFeeee;
}

.board td.hidden.unsafe,
.board td.hidden {
	background-color: #fefefe;
}

.board td.hidden {
	font-size: 0;
	overflow: hidden;
	text-indent: -100px;
	color: transparent;
	cursor: pointer;
}

.board td.flagged {
	background-color: aqua;
}

.board td.culprit {
	background-color: #FFBDAB;
}

.swept-0 {
	background-color: beige;
}