form.l-1 li {
	overflow: hidden;
	margin-bottom: 10px;
}
form.l-1 .col {
	float: left;
	width: 370px;
}

form.l-1 .dt,
form.l-1 .dd {
	float: left;
}

.dt {
	width: 150px;
	height: 25px;
	line-height: 25px;
}

.dt label {
}

.dd {
}

form input {
	height: 23px;
	border: 1px solid #ddd;
	padding: 0 6px;
}

.l-button-row {
	height: 38px;
	margin-bottom: 5px;
}