/*
	Author André Drougge, 2013
	- Layout
	- Grid
*/

/* -------------------------------------------------------------------------*/
/* Grid */

#page {
	width: 960px;
	margin: 0 auto;
}

header, footer {
	height: 60px;
}

/* -------------------------------------------------------------------------*/
/* Boxes */

.l-box {
	padding: 15px;
	margin-top: 20px;
}

.is-hidden {
	display: none;
}

.feedback-container {
	margin-top: 20px;
}

.feedback-container p {
	padding: 20px;
}

.feedback-container.negative-message {
	background-color: #FFBDAB;
	color: #401000;
}

.feedback-container.positive-message {
	background-color: #9BE8A1;
	color: #1B6E21;
}

.feedback-container p {
	margin: 0;
}

#control-panel {
	padding-bottom: 10px;
}

/* -------------------------------------------------------------------------*/
/* Buttons/Links */

.l-button {
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;
	text-decoration: none;
}

.l-button.v-1 {
	padding: 10px 14px;
	font-size: 16px;
}

.l-button.t-1 {
	background-color: #009900;
	border: 1px solid #008000;
	color: white;
}

.l-button.t-2 {
	background-color: #884444;
	border: 1px solid #773C3C;
	color: white;
}

.l-button.is-disabled {
	background-color: #dadada;
	border: 1px solid #d1d1d1;
	color: white;
}

#btn-container {
	float: left;
	width: 185px;
}